body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.feedback {
	transition: height 2s ease-in;
	padding: 15px;
	height: auto;
	width: 100%;
	max-width: 450px;
	min-width: 450px;
	overflow: hidden;
	background-color: #f5f8fa;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 3s ease-in-out;

	h3 {
		margin-top: 0;
		font-weight: 700;
		font-size: 1.3rem;
	}
	&_ratings {
		justify-content: space-between;
		display: flex;
		flex-wrap: nowrap;
	}
	&_rating {
		cursor: pointer;
		padding: 6px 10px;
		background-color: #e3e9ed;
		border-radius: 100px;
	}
	&-n {
		margin-top: 1rem;
		transition: all 200ms ease-in-out;
	}
	&_notice {
		color: #000;
		transition: all 200ms ease-in-out;
		padding: 10px;
		border-radius: 6px;
		display: flex;
		flex-direction: column;

		p {
			-webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
			animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
			margin: 0;
		}
	}
}
.rating_active {
	background-color: #000;
	color: #e3e9ed;
	transition: all 200ms ease-in-out;
}
.active_feedback {
	height: 240px;
	transition: height 0.6s ease-in;
}
.hidden {
	display: none;
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
